## Iris ata analysis

#### Disabling Sklearn Deprecation Warnings as they make the output hard to read

In [74]:
import warnings
from sklearn.exceptions import DataConversionWarning

warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=DataConversionWarning)

### Problem 1: Data acquisition

In [75]:
import pandas as pd
from pandas import DataFrame
from sklearn.datasets import load_iris

iris = load_iris()

#### Reading the explanatory variables

In [76]:
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

#### Reading the objective variable

In [77]:
y = DataFrame(iris.target, columns=['Species'])
y.head()

   Species
0        0
1        0
2        0
3        0
4        0

### Problem 2: Combining data

In [78]:
xy = pd.concat([x, y], axis=1)
xy.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

### Problem 3: Checking the data

#### Display the 4th sample from the beginning and see what each feature is like

In [79]:
xy.iloc[3]

sepal length (cm)    4.6
sepal width (cm)     3.1
petal length (cm)    1.5
petal width (cm)     0.2
Species              0.0
Name: 3, dtype: float64

#### Output the total number of samples for each label

In [80]:
xy['Species'].value_counts()

0    50
1    50
2    50
Name: Species, dtype: int64

#### Check if there is a missing value in the feature quantity.

In [81]:
xy.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
Species              0
dtype: int64

#### Display the mean, standard deviation, and quartiles of the feature values at once.

In [82]:
xy.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

### Problem 4: Examining the iris dataset itself

From the author's (FISHER, 1936) original paper 'THE USE OF MULTIPLE MEASUREMENTS IN TAXONOMIC PROBLEMS' we can conclude the following: 
- The ratio of the difference between means to standard error in individual plants is crucial for assessing the probability of misclassification based on compound measurements.
- A variance estimation method results in a standard deviation of 3.3804 cm, allowing for the calculation of the misclassification probability (less than three per million).
- The chosen compound measurement (X) is analyzed for variation within and between species, revealing that 96.3417% of the total variation is between species.
- The text explores the application of the procedure to samples from more than two populations, specifically considering Iris virginica, a tetraploid species with chromosomal differences, in relation to I. setosa and I. versicolor.
- The analysis examines whether I. versicolor, potentially a polyploid hybrid, demonstrates an intermediate mean value and if its difference from I. setosa is twice that from I. virginica, considering additive gene effects in hybrids.

SOURCE: FISHER, R. A. (1936). THE USE OF MULTIPLE MEASUREMENTS IN TAXONOMIC PROBLEMS. Annals of Eugenics, 7(2), 179â€“188. https://doi.org/10.1111/j.1469-1809.1936.tb02137.x